<launch>

    <!-- TODO: We need to start up the cameras here -->

    <!-- By default, we want vision to directly control the robot -->
    <arg name="twist_topic" default="/robot/cmd_vel" />

    <node name="ros_vision" pkg="vision" type="ros_vision" output="screen"/>

    <node name="vision_decision" pkg="decision" type="vision_decision" output="screen">
        <remap from="/vision_decision/command" to="$(arg twist_topic)"/>
        <!-- The value to scale the angular velocity on outputted twist messages by -->
        <rosparam param="angular_vel_multiplier">2.0</rosparam>
    </node>
     
</launch>
