<launch>

    <!-- Start everything final_decision needs -->
    <include file="$(find decision)/launch/gps_stack.launch">
        <!-- We want to override where to send twist messages to -->
        <arg name="twist_topic" value="/gps_decision/twist" />
    </include>
    <include file="$(find vision)/launch/vision_stack.launch">
        <!-- We want to override where to send twist messages to -->
        <arg name="twist_topic" value="/vision_decision/twist" />
        <!-- We don't want to show the window with all the images -->
        <arg name="show_image_window" value="false" />
    </include>

    <!-- Start final_decision -->
    <node name="final_decision" pkg="decision" type="final_decision" output="screen">
        <remap from="/final_decision/twist" to="/robot/cmd_vel"/>
    </node>
        
</launch>
