<launch>

    <!-- Start Lidar Decision -->
    <node name="lidar_decision" pkg="decision" type="lidar_decision" output="screen">
        <!-- The maximum distance at which an obstacle will be considered 
            dangerous enough to make the robot turn -->
        <rosparam param="max_obstacle_danger_distance">1.3</rosparam>
        <!-- The maximum angle at which an obstacle will be considered 
            dangerous enough to make the robot turn -->
        <rosparam param="max_obstacle_danger_angle">1.56</rosparam>
        <!-- The multiplier for linear speed in the twist message produced -->
        <rosparam param="twist_linear_speed_multiplier">0.05</rosparam>
        <!-- The multiplier for angular speed in the twist message produced -->
        <rosparam param="twist_angular_speed_multiplier">2</rosparam>

        <!-- Confidence Params -->
        <rosparam param="min_dangerscore">1.8</rosparam>
        <rosparam param="max_dangerscore">2.5</rosparam>
        <rosparam param="min_confidence">60</rosparam>
        <rosparam param="max_confidence">100</rosparam>
        <remap from="/scan" to="/robot/laser/scan" />
    </node>

</launch>
