<launch>

    <!-- Launch the zed as a lidar -->
    <node name="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen">
        <remap from="/cloud_in" to="/zed_height_filter/filtered_point_cloud" />
        <remap from="/scan" to="/scan" />
    </node>

    <!-- Start Lidar Decision -->
    <node name="lidar_decision" pkg="decision" type="lidar_decision" output="screen">
        <!-- The maximum distance at which an obstacle will be considered 
            dangerous enough to make the robot turn -->
        <rosparam param="max_obstacle_danger_distance">1.0</rosparam>
        <!-- The maximum angle at which an obstacle will be considered 
            dangerous enough to make the robot turn -->
        <rosparam param="max_obstacle_danger_angle">1.56</rosparam>
        <!-- The multiplier for linear speed in the twist message produced -->
        <rosparam param="twist_linear_speed_multiplier">0.1</rosparam>
        <!-- The multiplier for angular speed in the twist message produced -->
        <rosparam param="twist_angular_speed_multiplier">0.5</rosparam>
    </node>

</launch>
